<div class="card mt-3">
  <div class="card-body">
    <p>Le mot de passe doit contenir les élements suivants</p>
    <div>
      <div class="min">
        <p [ngClass]="!rules[2].test(verifpassword.value.password)?'text-danger':'text-success'">
          <span>
            <i  *ngIf="rules[2].test(verifpassword.value.password)" class="bi bi-check-lg" ></i>
            <i *ngIf="!rules[2].test(verifpassword.value.password)" class="bi bi-x-lg"></i>
          </span>
          Une lettre minuscule
        </p>
      </div>
      <div class="maj" [ngClass]="!rules[1].test(verifpassword.value.password)?'text-danger':'text-success'">
        <p>
          <span>
            <i  *ngIf="rules[1].test(verifpassword.value.password)" class="bi bi-check-lg" ></i>
            <i *ngIf="!rules[1].test(verifpassword.value.password)" class="bi bi-x-lg"></i>
          </span>
          Une lettre majuscule
        </p>
      </div>
      <div class="chiffre" [ngClass]="!rules[3].test(verifpassword.value.password)?'text-danger':'text-success'">
        <p >
          <span>
            <i  *ngIf="rules[3].test(verifpassword.value.password)" class="bi bi-check-lg" ></i>
            <i *ngIf="!rules[3].test(verifpassword.value.password)" class="bi bi-x-lg"></i>
          </span>
          Une chiffre
        </p>
      </div>
      <div class="taille"  [ngClass]="!rules[0].test(verifpassword.value.password)?'text-danger':'text-success'">
        <p >
          <span>
            <i  *ngIf="rules[0].test(verifpassword.value.password)" class="bi bi-check-lg" ></i>
            <i *ngIf="!rules[0].test(verifpassword.value.password)" class="bi bi-x-lg"></i>
          </span>
          8 caractères minimum
        </p>
      </div>
    </div>
  </div>
</div>

