<div class="card ">
  <div class="card-body">
   <form [formGroup]="formPass">
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailInput"  formControlName="email"/>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" >Password</label>
      <input type="password" class="form-control" id="password" formControlName="password"  />
    </div>
    <button type="submit" class="btn sub btn-primary col-12 p-2" [ngClass]="formPass.value.password?.length==0 || formPass.status=='INVALID'?'disabled':''">
      <i class="bi bi-lock-fill" *ngIf="formPass.value.password?.length==0 || formPass.status=='INVALID'"></i>
      <i class="bi bi-unlock-fill"  *ngIf="!(formPass.value.password?.length==0 || formPass.status=='INVALID')"></i>
      Envoyer</button>
  </form>
  </div>
</div>
<!-- <p>{{email.value}}</p>
<p>{{password.value}}</p> -->
<app-validation [verifpassword]="formPass"></app-validation>
<!-- {{password.status}} -->
 {{formPass.status}}
 {{formPass.untouched}}