<div class="card ">
  <div  class="alert alert-success" role="alert" >
    Félicitation vous êtes connectés 🧐
  </div>
  <div class="card-body">
   <form>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailInput" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password"/>
    </div>
    <button type="submit" class="btn sub col-12 p-2" (click)="submitPassword('ffg','fff')">Envoyer</button>
  </form>
  </div>
</div>
<app-validation></app-validation>